absl-py
aiohttp
aiosignal
albumentations
altair
annotated-types
anyio
asgiref
astunparse
attrs
azure-cognitiveservices-speech
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
contourpy
convertapi
ctransformers
customtkinter
cycler
Cython
darkdetect
dataclasses-json
Deprecated
distlib
dj-database-url
Django
django-rest-framework
djangorestframework
djangorestframework-simplejwt
dlib
dm-tree
docstring_parser
easydict
et-xmlfile
fastapi
ffmpeg-python
filelock
flatbuffers
fonttools
frozenlist
fsspec
future
gast
gdown
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httptools
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib_resources
insightface
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
keras-core
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
more-itertools
mpmath
multidict
mypy-extensions
mysql-connector-python
mysqlclient
namex
networkx
numba
numpy
oauthlib
onnx
onnxruntime
onnxruntime-gpu
openai-whisper
opencv-contrib-python
opencv-python
opencv-python-headless
opennsfw2
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
orjson
outcome
overrides
packaging
pandas
pbr
Pillow
pip-tools
platformdirs
posthog
prettytable
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pulsar-client
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
PyJWT
PyMySQL
pynput
pyparsing
PyPDF2
PyPika
pyproject_hooks
pyreadline3
PySocks
pytesseract
python-dateutil
python-decouple
python-dotenv
pytz
PyWavelets
PyYAML
qudida
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
selenium
sentence-transformers
shapely
shellingham
six
smmap
sniffio
sortedcontainers
soundfile
soupsieve
SpeechRecognition
spotipy
SQLAlchemy
sqlparse
starlette
stevedore
streamlit
streamlit-audiorec
sympy
tdqm
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
tiktoken
tkinterdnd2
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
transformers
trio
trio-websocket
typer
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
virtualenv
virtualenv-clone
virtualenvwrapper
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
whisper_mic
whitenoise
wrapt
wsproto
yarl
youtube-search
zipp